*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

/* body */
body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  background-color:#0088CC;
}
/* header */
.sticky-top {
  background-color:lightblue;
=======
  background-color: #f9efe9;
}
/* header */
.sticky-top {
  background-color: #a98b75;
>>>>>>> 6c32c6d2c03d318ccdd8eba3adbd31b247b3064b
}

/* CARD */
.card-group {
  margin: 10px;
  padding-top: -50px;
  padding-bottom: 40px;
}

.card {
  background-color: lightblue;
  padding: 15px;
  margin: 20px;
}
