*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

/* body */
body {
  /* --hue: var(--hue-neutral); */
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9efe9;
}
/* header */
.sticky-top {
  background-color: #a98b75;
}

/* CARD */
.card-group {
  margin: 10px;
  padding-top: -50px;
  padding-bottom: 40px;
}

.card {
  background-color: white;
  padding: 15px;
  margin: 20px;
}

footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:white;
  color: white;
  text-align: center;
}

#Kontaktujtenas {
  padding:5px;
  margin-bottom:35px;
  margin-top:10px;
}
h1 {
  color:#a98b75;
  margin-top:20px;
}

h1:before {
  content: ' ';
  position: absolute;
  width: 15%;
  height: 10px;
  z-index: -1;
  bottom: -0.3em;
  left: -2em;
  background: #a98b75;
  border-radius: 1em;
}

h2 {
  margin:15px;
  padding:10px;
}
.container-zdroj {
  max-width: var(--contentWidth);
  display: flex;
  flex-grow: 0;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom:25px;
  border: 2.5px solid #a98b75;
  box-shadow: 3px 3px 3px 3px #a98b75;
  margin-left:10px;
  margin-right: 10px;
}


.form {
  padding: 4% 14% 0 13%;
  text-align: justify;
  border: 3px dotted  #a98b75;
  margin:16px;
}