*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto;
}

/* .main {
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  width: 70vmin;
  margin-top: 60px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
} */

.badge {
  font-size: 18px;
  font-weight: 800;
  border-radius: 5px;
}

/* Nadpis, který js změni */
#intro { 
  text-align: center;
  color:white;
  font-size: 40px;
  letter-spacing: -1px;
  padding:20px;
  margin:20px;
}

/* tady začíná js*/
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  max-width: 70%;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

/* tady končí css k js */
/* tady začíná body css */

header {
  width:100%;
}
.sticky-top {
  background-color:#8CC3B3;
}

.card-group {
  margin:20px;
}

.card {
  padding:15px;
  margin: 20px;
}

.formDiv {
  background-color: #8CC3B3;
}

form {
  padding:10px;
  margin:10px;
}

.hra {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display:flex;
  background-image:url(img/computer.svg);
  width: 100%;
  image-rendering: auto;
  background-size:100% 100%;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  margin-top: 60px;
  height: 40rem;
  width: 40rem;
}

#question {
  color:white;
  font-weight: 1.5rem;
 text-align: center;
}

/* MEDIA QUERY */

/* mobilní telefon */
@media only screen and (max-width: 600px) {
  .card-group {
    display:none;
  }
  .main{
    width: 100%;
    background-image:url(img/mobil.svg);
    background-size:100% 100%;
  }
  .container {
    max-width: 50%;
    max-height: initial;
  }

}

/*  */
@media only screen and (min-width: 960px) {
  .hra {
    width:100rem;
    height: auto;
  }
}

